DB_NAME=indigis
DB_USER=indigis
DB_PASSWORD=indigis
DB_HOST=db
DB_PORT=5432

TITILER_URL=http://titiler:8080

# Optional: GCS bucket for COG storage
GCS_BUCKET_NAME=
GOOGLE_APPLICATION_CREDENTIALS=

DJANGO_SECRET_KEY=change-me-in-production

EARTHDATA_USERNAME=narenkarthikbm22
EARTHDATA_PASSWORD=docdar-0gijCe-vuggif

CDS_API_URL=https://cds.climate.copernicus.eu/api
CDS_API_KEY=7c97d088-5ca5-423c-be68-7685b858ef02